/.github export-ignore
/CONTRIBUTING.md export-ignore
/tests export-ignore
/scripts export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore
/vendor export-ignore
/composer.lock export-ignore
/.phpunit.cache export-ignore
/.phpstan-cache export-ignore
/.phpunit.result.cache export-ignore
/docs export-ignore
